#face{
    width:400px;
    height:400px;
    border: 4px solid black;
    border-radius: 50%;
    background-color: #FFE52A;
    margin: 0 auto;
    box-shadow: 10px 10px 30px rgba(0,0,0,10);
    
}
#eye-line{
    position: relative;
    top: 100px;
    left: 100px;
}
#left-eye ,#right-eye{
    width: 60px;
    height:60px;
    display: inline-block;
    background-color: #000000;
    border-radius: 50%;
    position: relative;
}
#right-eye{
    margin-left: 90px;
}

#mouth{
    width: 100px;
    height: 60px;
    background-color: #000000;
    position: relative;
    top: 200px;
    left: 150px;
    border-radius: 8px 8px 50px 50px;
    transition: all 1s ease;
}

.white-boll{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top:25px;
    left: 25px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 2s ease;
}
#face:hover .white-boll{
    opacity: 1;
}
#face:hover #mouth{
    transform: scaleX(1.5);
}

.black-boll{
    width: 8px;
    height: 8px;
    background-color: #080808;
    border-radius: 50%;
    position: relative;
    opacity: 0;
}
#face:hover .black-boll{
    transform: scale(2);
    opacity: 1;
    top: 15px;
    left: 15px;
}
h1{
    text-align: center; 
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    color: #5EABD6;

}
p{
    text-align: center; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px;
    color: #1F509A;
}
footer{
    position: fixed;
    bottom: 0;           
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #CADCAE;
    color: #605770;
    text-align: center;
    line-height: 30px;   
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;

}
body{
    background-color: #CADCAE;
}
